#banner{
    width: 100%;
}

.centralized-title{
    text-align: center;
}

p{
    text-align: center;
}

strong{
    color: #FF0000;
}

#p1{
    font-size: 22px;
}

.itens{
    font-style: italic;
}

.main{
    background: #CCCCCC;
    padding: 30px;
}

.main-title{
    padding-left: 20px;
}

.benefits{
    background: #FFFFFF;
    padding: 20px;
}

.benefitimg{
    width: 50%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
